<div class="container">

    <!-- NAVIGATION MENU -->
    <div class="navigation-menu">
        <!-- STACK OVERFLOW IMAGE -->
        <div class="stackoverflow">
            <div class="stacklogo">
                <img src='../../assets/stackoverflowlogo.png'>
                <p>Stack<span>Overflow</span></p>
            </div>
           
        <div class="search-bar">
            <!-- SEARCH BAR ICON -->
            <fa-icon [icon]="searchicon"></fa-icon>
            <input type="text" placeholder="Search...">
        </div>
        </div>

        <!-- NAVIGATION LINKS -->
       
        <div class="navlinks">

        <div class="signUp" (click)="onSignUpClicked()">
            <button class="signUpButton">Sign Up</button>
        </div>

        <!-- LOGIN -->
        <div class="logIn" (click)="onLoginClicked()">
            <button class="loginButton">Login</button>
        </div>

        </div>

    </div>

    <!-- CONTENT IN THE CENETER OF THE PAGE -->

    <div class="content">

        <div class="maincontent">

            <div class="content1">
                <p>Find the best answer to your 
                    technical question, help others 
                    answer theirs.
                </p>
            </div>
    
            <div class="content2">
                <p>Want a secure, private place for
                your technical knowledge?</p>
            </div>

        </div>
       
        <div class="content3">
            <p>Every <span>Software Developer</span>
            has a tab open to Stack OverFlow
            </p>
        </div>
    </div>

    <!-- FOOTER -->

    <div class="footer">
        <div class="footer1">
            <h1>Stack OverFlow</h1>
            <p>Questions</p>
            <p>Help</p>
        </div>

        <div class="footer2">
            <h1>Company</h1>
            <p>About</p>
            <p>Contact Us</p>
        </div>

        <div class="socialmedia">
            <h1>Facebook</h1>
            <h1>Twitter</h1>
            <h1>LinkedIn</h1>
            <h1>Instagram</h1>
        </div>

    </div>

</div>