<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div (click)="onHomeButtonClicked()" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <!-- LOGOUT -->
      <div class="logout">
        <p>Logout</p>
      </div>
    </div>
  </div>

  <div class="content">
    <!-- LEFT MENU BAR -->
    <div class="leftMenuBar">
     

      <div class="innerBar">
        <button class="innerBarButton" (click)="onHomeButtonClicked()">Home</button>
        <button class="innerBarButton" (click)="onQuestionsButtonClicked()">Questions</button>
        <button class="innerBarButton" (click)="onQuestionsButtonClicked()">Tags</button>
        <button class="innerBarButton" (click)="onQuestionsButtonClicked()">Profile</button>
      </div>
    </div>

    <!-- A TABLE FOR ALL USERS -->

    <div class="tableUsers">
      <table>
        <tr>
          <th>User</th>
          <th>Email</th>
          <th>CRUD OPERATIONS</th>
        </tr>

        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td><button (click)="deleteUser(user.id)" class="deleteButton">Delete</button></td>
        </tr>

        <!-- <tr>
          <td>Samuel Ndambuki</td>
          <td>sam.ndambuki08@gmil.com</td>
          <td><button class="deleteButton">Delete</button></td>
        </tr> -->

        <!-- <tr>
          <td>Samuel Ndambuki</td>
          <td>sam.ndambuki08@gmil.com</td>
          <td><button class="deleteButton">Delete</button></td>
        </tr> -->
      </table>
    </div>
  </div>
</div>
