/* NAVIGATION LINKS */
.navigation-menu {
  background-color: white;
  box-shadow: #d9d9d9;
  display: flex;
  margin-top: 3px;
  padding: 1rem;
  justify-content: space-between;

  /* removed style */
  /* border-radius: 10px; */

  /* added style */
  border-bottom: 1px solid #d9d9d9;
  padding-right: 3rem;
  padding-left: 3rem;
}

.stackoverflow {
  display: flex;
  align-items: center;
}

.stacklogo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
  /* modified styles */
  padding-right: 5rem;
}

.stacklogo p {
  /* modified style */
  font-size: 1.5rem;
}

.stacklogo span {
  font-weight: bold;
}

.stackoverflow img {
  /* modified styles */
  max-width: 25px;
  background-color: red;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* removed styles */
  /* border: 1px solid black; */
  /* additional styles */
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #d9d9d9;
}

.search-bar input {
  border: none;
  width: 700px;
  padding: 0.1rem;
  /* additional styles */
  font-size: 13px;
  background-color: transparent;
  outline: none;
}

.search-bar input:focus {
  outline: none;
}

.logOutButton {
  /* additional styles */

  border: 1px solid #0f94fd;
  color: black;
  background-color: white;

  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.logOutButton:hover {
  background-color: #0b7ad6;
}

.logOutButton:focus {
  outline: none;
}

/* STYLES FOR CONTENTS AT THE CENTER OF THE PAGE */

.content{
    margin-top: 5rem;
    display: flex;
    font-size: 1.1rem;
    padding: 0.2rem;
    justify-content: center;
    margin-top: 1rem;

}

.active {
  background-color: #0b7ad6;
  color: white;
}

.leftMenuBar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 15%;
  background-color: #d9d9d9;
  /* padding: 2rem; */
  height: 80vh;
}

.innerBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
  /* gap: 2rem; */
  margin-top: 2rem;
}

.innerBarButton {
  /* background-color: #0f94fd; */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.innerBarButton:hover {
  background-color: #0b7ad6;
}

.innerBarButton:focus {
  outline: none;
}


/* TABLE STYLING */

.tableUsers{
    margin-top: 1rem;
    margin-left: 2rem;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    color: black;
  }

.deleteButton{
    color: white;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: red;
    margin-left: 1rem;
    cursor: pointer;
}

/* MEDIA QUERIES */

/* Media query for screens with a width of 320px */
@media only screen and (max-width: 320px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navigation-menu {
      background-color: white;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      margin-top: 3px;
      padding: 1rem;
      justify-content: space-between;
      border-radius: 10px;
      gap: 1rem;
      justify-content: center;
      align-items: center;
    }

  
    .stacklogo p {
      font-size: 1.5rem;
    }
  
    .stackoverflow {
      display: flex;
      flex-direction: column;
    }
  
    .stackoverflow img {
      width: 30%;
      max-width: 150px;
    }
  
    .search-bar input {
      max-width: 200px;
    }
  
    .logOutButton {
      padding: 1rem;
      font-size: 0.9rem;
    }
  
  
    .navlinks {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1rem;
    }
  
    .logout {
      padding: 0.3rem;
      height: 25px;
      font-size: 0.8rem;
    }
  
    /* CONTENTS */
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .leftMenuBar {
      width: 60%;
      margin-left: 0;
    }
    .innerBar {
      gap: 0.5rem;
    }
  
    /* TABLE STYLING */
    .tableUsers {
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    table {
      font-size: 0.7rem;
      margin-right: 0.8rem;
    }
  
    .deleteButton {
      padding: 0.3rem;
      font-size: 0.8rem;
    }
  }

  /* Media Query for 375px width */
@media (max-width: 375px) {
  .navigation-menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .stacklogo p {
    font-size: 1.5rem;
  }

  .stackoverflow {
    display: flex;
    flex-direction: column;
  }

  .stackoverflow img {
    width: 20%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .search-bar input {
    width: 100%;
  }

  .leftMenuBar {
    width: 90%;
    padding: 1rem;
    margin-top: 1rem;
  }

  .innerBar {
    gap: 1rem;
  }

  .content {
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
  }


  .tableUsers{
    display: flex;
    margin-right: 1rem;
  }

  .tableUsers table{
    font-size: .7rem;

  }

  .profileSection {
    width: 90%;
    margin-left: 0;
  }

  .error-message {
    font-size: 12px;
  }


}