<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div (click)="onHomeButtonClicked()" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <!-- LOGOUT -->
      <div class="logout">
        <p>Logout</p>
      </div>
    </div>
  </div>

  <!-- CONTENT AT THE CENTER -->

  <div class="content">
    <!-- LEFT MENU BAR -->
    <div class="leftMenuBar">
     
      <div class="innerBar">
        <button (click)="onHomeButtonClicked()">Home</button>
        <button (click)="onTagsButtonClicked()">Tags</button>
      </div>
    </div>

    <!-- DISPLAY ALL QUESTIONS -->

    <div class="allQuestions">
      <!-- TOP QUESTIONS -->
      <div class="topQuestions">
        <p>Top Questions</p>

        <div class="askQuestion">
          <button class="askQuestionButton" (click)="onAskQuestionClicked()">Ask Question</button>

          <div class="pagination">
            <button>Day</button>
            <button>Week</button>
            <button>Month</button>
          </div>
        </div>
      </div>

      <!-- FIRST QUESTION -->

      <div class="question1">
        <div class="question1Content">
          <p>0 Votes</p>
          <p>0 Answers</p>
          <p>3 Views</p>
        </div>

        <div class="linkToQuestion">
          <button class="linkToQuestionButton" (click)="onSingleQuestionClikced()">
            Extending custom types with functions in typescript
          </button>

          <div class="tags">
            <p>JavaScript</p>
            <p>reactJs</p>
          </div>

          <div class="userName">
            <p>Samuel Ndambuki</p>
          </div>

          <div class="crudButtons">
            <button class="updateButton" (click)="onUpdateClicked()">Update</button>
            <button class="deleteButton">Delete</button>
          </div>
        </div>
      </div>

      <!-- SECOND QUESTION -->

      <div class="question2">
        <div class="question2Content">
          <p>0 Votes</p>
          <p>0 Answers</p>
          <p>3 Views</p>
        </div>

        <div class="linkToQuestion">
          <button class="linkToQuestionButton" (click)="onSingleQuestionClikced()">
            Extending custom types with functions in typescript
          </button>

          <div class="tags">
            <p>JavaScript</p>
            <p>reactJs</p>
          </div>

          <div class="userName">
            <p>Samuel Ndambuki</p>
          </div>

          <div class="crudButtons">
            <button class="updateButton" (click)="onUpdateClicked()">Update</button>
            <button class="deleteButton">Delete</button>
          </div>
        </div>
      </div>

      <!-- THIRD QUESTION -->

      <div class="question3">
        <div class="question3Content">
          <p>0 Votes</p>
          <p>0 Answers</p>
          <p>3 Views</p>
        </div>

        <div class="linkToQuestion">
          <button class="linkToQuestionButton" (click)="onSingleQuestionClikced()">
            Extending custom types with functions in typescript
          </button>

          <div class="tags">
            <p>JavaScript</p>
            <p>reactJs</p>
          </div>

          <div class="userName">
            <p>Samuel Ndambuki</p>
          </div>

          <div class="crudButtons">
            <button class="updateButton" (click)="onUpdateClicked()">Update</button>
            <button class="deleteButton">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
