/* NAVIGATION LINKS */
.navigation-menu {
  background-color: white;
  box-shadow: #d9d9d9;
  display: flex;
  margin-top: 3px;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 3rem;
  padding-left: 3rem;
}

.stackoverflow {
  display: flex;
  align-items: center;
}

.stacklogo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
  padding-right: 5rem;
}

.stacklogo p {
  font-size: 1.5rem;
}

.stacklogo span {
  font-weight: bold;
}

.stackoverflow img {
  max-width: 25px;
  background-color: red;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #d9d9d9;
}

.search-bar input {
  border: none;
  width: 700px;
  padding: 0.1rem;
  font-size: 13px;
  background-color: transparent;
  outline: none;
}

.search-bar input:focus {
  outline: none;
}

/* LOG IN  CONTAINER STYLES */

.logInContainer {
  background-color: #d9d9d9;
  border-radius: 5px;
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 33rem;
  padding: 10px;
  gap: 2rem;
  margin-top: 2rem;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.password {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input {
  width: 26rem;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.passwordContent {
  color: grey;
}

.logInButton {
  background-color: rgb(0, 115, 204);
  color: white;
  padding: 12px;
  width: 26rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

/* LOG IN FOOTER STYLES */

.logInFooter {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.signUpButton {
  background-color: transparent;
  color: #0b7ad6;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 4px;
}

.error-text {
  font-size: 14px;
}

/* MEDIA QUERIES */

@media (max-width: 320px) {
  .navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stacklogo {
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 2px;
  }

  .stackoverflow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stackoverflow img {
    width: 30%;
  }

  .search-bar {
    display: flex;
  }

  .search-bar input {
    width: 100%;
  }

  .landingPageButton {
    margin-top: 0.5rem;
  }

  .logInContainer {
    width: 85%;
    margin-left: 0.4rem;
  }
}

@media (max-width: 375px) {
  /* Adjustments for width up to 375px */
  .navigation-menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .stackoverflow {
    display: flex;
    flex-direction: column;
  }

  .stackoverflow img {
    width: 30%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .search-bar input {
    width: 100%;
  }

  .logInContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 1rem;
    gap: 1rem;
  }
}
