<div class="container">
    <!-- NAVIGATION MENU -->
    <div class="navigation-menu">
     <!-- STACK OVERFLOW IMAGE -->
     <div class="stackoverflow">
         <div class="stacklogo">
             <img src='../../assets/stackoverflowlogo.png'>
             <p>Stack<span>Overflow</span></p>
         </div>
        
     <div class="search-bar">
         <!-- SEARCH BAR ICON -->
         <fa-icon [icon]="searchicon"></fa-icon>
         <input type="text" placeholder="Search...">
     </div>
     </div>
     <!-- NAVIGATION LINKS -->
     <div class="navlinks">

     <!-- LOGOUT -->
     <div class="home">
         <p>Home</p>
     </div>
     </div>
 </div>
 
 <!-- LOG IN CONTAINER -->
 <div class="logInContainer">
    
     <!-- EMAIL INPUT -->
     <div class="email">
         <label>Email</label>
         <input type="text" placeholder="Enter your email">
     </div>
     <!-- PASSWORD INPUT -->
     <div class="password">
         <label>Password</label>
         <input type="text" placeholder="Enter your password">
     </div>
     <!-- PASSWORD CONTENT -->
     <div class="passwordContent">
         <p>
             Password must contain at least eight characters,
             including at least one letter and one number
         </p>
     </div>
     <!-- LOG IN BUTTON -->
     <div class="logIn">
         <button class="logInButton">Log In</button>
     </div>
     <!-- LOG IN CONTENT -->
     <div class="logInContent">
         <p>
             By clicking “Sign Up”, you agree to our terms of service and acknowledge that you have read and understood our privacy policy and code of conduct.
         </p>
     </div>
 </div>

 <!-- LOG IN FOOTER -->
 <div class="logInFooter">
     <p>
         Already have an account? 
     </p>
     <button class="signUpButton">Sign Up</button>
 </div>
</div>