<div class="container">
    <!-- NAVIGATION MENU -->
    <div class="navigation-menu">
     <!-- STACK OVERFLOW IMAGE -->
     <div class="stackoverflow">
         <div (click)="onLandingPageButtonClciked()" class="stacklogo">
             <img src='../../assets/stackoverflowlogo.png'>
             <p>Stack<span>Overflow</span></p>
         </div>
        
     <div class="search-bar">
         <!-- SEARCH BAR ICON -->
         <fa-icon [icon]="searchicon"></fa-icon>
         <input type="text" placeholder="Search...">
     </div>
     </div>
     <!-- NAVIGATION LINKS -->
     <div class="navlinks">

     <!-- LANDING PAGE -->
     <div (click)="onLandingPageClicked()">
         <button class="landingPageButton">Landing Page</button>
     </div>
     </div>
 </div>
 
 <!-- LOG IN CONTAINER -->
 <form class="logInContainer" [formGroup]="loginForm">
  
    
     <!-- EMAIL INPUT -->
     <div class="email">
         <label>Email</label>
         <input type="text" placeholder="Enter your email" formControlName="email">
         <!-- EMAIL VALIDATIONS -->
         <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
            <div *ngIf="loginForm.get('email')?.hasError('required')" class="error-text">Email is required</div>
            <div *ngIf="loginForm.get('email')?.hasError('email')" class="error-text">Invalid email format</div>
          </div>
     </div>
     <!-- PASSWORD INPUT -->
     <div class="password">
         <label>Password</label>
         <input type="password" placeholder="Enter your password" formControlName="password">
         <!-- PASSWORD VALIDATIONS -->
         <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
            <div *ngIf="loginForm.get('password')?.hasError('required')" class="error-text">Password is required</div>
            <div *ngIf="loginForm.get('password')?.hasError('minlength')" class="error-text">Password must be at least 8 characters</div>
            <div *ngIf="loginForm.get('password')?.hasError('invalidPassword')" class="error-text">Password must contain at least one letter and one number</div>
          </div>
     </div>
     <!-- PASSWORD CONTENT -->
     <div class="passwordContent">
         <p>
             Password must contain at least eight characters,
             including at least one letter and one number
         </p>
     </div>
     <!-- LOG IN BUTTON -->
     <div class="logIn">
         <button class="logInButton" (click)=" onLoginClicked()">Log In</button>
     </div>
    
 </form>

 <!-- LOG IN FOOTER -->
 <div class="logInFooter">
     <p>
         Don't have an account? 
     </p>
     <button class="signUpButton" (click)="onSignUpClicked()">Sign Up</button>
 </div>
</div>