/* NAVIGATION MENU STYLES */

.navigation-menu{
    background-color: white;
    border: 1px solid black;
    display: flex;
    margin-top: 3px;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
}

.stackoverflow {
    display: flex;
    align-items: center;
}

.stacklogo {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80%;
}

.stacklogo p{
    font-size: 2rem;
}

.stacklogo span{
    font-weight: bold;
}

.stackoverflow img{
    width: 15%;
    background-color: red;
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    gap: 1rem;
}

.search-bar input{
    border: none;
    width: 700px;
    padding: .1rem;
    font-size: 1.1rem;
}

.search-bar input:focus{
    outline: none;
}

.landingPageButton{
    background-color: #0f94fd;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

  .landingPageButton:hover {
    background-color: #0b7ad6;
  }
  
  .landingPageButton:focus {
    outline: none;
  }

/* LOG IN  CONTAINER STYLES */

.logInContainer{
    border: 2px solid grey;
    border-radius: 5px;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 33rem;
    padding: 1rem;
    gap: 2rem;
    margin-top: 2rem;
}

.email{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.password{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.email input{
    width: 200px;
    padding: .1rem;
    font-size: 1rem;
}

.password input{
    width: 200px;
    padding: .1rem;
    font-size: 1rem;
}

.passwordContent{
    color: grey;
}

.logInButton{
    background-color: rgb(0,115,204);
    color: white;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* LOG IN FOOTER STYLES */

.logInFooter{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.signUpButton{
    background-color: rgb(0,115,204);
    color: white;
    padding: .4rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* ERROR MESSAGES */
.error-message {
    color: red;
    margin-top: 4px;
  }
  
  .error-text {
    font-size: 14px;
  }

/* MEDIA QUERIES */

@media (max-width: 320px) {
    .navigation-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .stacklogo {
      width: 100%;
      justify-content: center;
      text-align: center;
      gap: 2px;
    }

    .stackoverflow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .stackoverflow img {
      width: 30%;
    }
  
    .search-bar {
        display: flex;
    }
  
    .search-bar input {
      width: 100%;
    }

    .landingPageButton{
        margin-top: .5rem;
    }
  
    .logInContainer {
      width: 85%;
      margin-left: .4rem;
    }
  }



@media (max-width: 375px) {
    /* Adjustments for width up to 375px */
    .navigation-menu {
      flex-direction: column;
      align-items: center;
      gap: .5rem;
    }
  
    .stackoverflow{
      display: flex;
      flex-direction: column;
    }
  
    .stackoverflow img {
      width: 30%;
    }
  
    .search-bar {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  
    .search-bar input {
      width: 100%;
    }
  
    .logInContainer{
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-left: 1rem;
      gap: 1rem;
    }
  }