<div class="container">
     <!-- NAVIGATION MENU -->
     <div class="navigation-menu">
        <!-- STACK OVERFLOW IMAGE -->
        <div class="stackoverflow">
            <div class="stacklogo">
                <img src='../../assets/stackoverflowlogo.png'>
                <p>Stack<span>Overflow</span></p>
            </div>
           
        <div class="search-bar">
            <!-- SEARCH BAR ICON -->
            <fa-icon [icon]="searchicon"></fa-icon>
            <input type="text" placeholder="Search...">
        </div>
        </div>

        <!-- NAVIGATION LINKS -->

        <div class="navlinks">

        <!-- LOGOUT -->
        <div class="logout">
            <p>Logout</p>
        </div>

        </div>
    </div>

    <div  class="publicQuestion">
        <p>Ask a public question</p>
    </div>

    <!-- ASK QUESTION CONTAINER -->

    <div class="content">

        <!-- TITLE -->
        <div class="title">
            <label>Title</label>
            <label>Be specific and imagine you are asking a question to another person</label>
            <input type="text" placeholder="Enter the title of your question">
            <button>Next</button>
        </div>
       
        <!-- DETAILS -->
        <div class="details">
            <label>What are the details of your problem?</label>
            <label>Introduce the problem and expand on what you provided in the title</label>
            <input type="text" placeholder="Enter the details of your problem">
            <button>Next</button>
        </div>

        <!-- WHAT DID YOU TRY -->
        <div class="try">
        <label>What did you try and what were you expecting</label>
        <label>Describe what you tried, what you expected to happen and what actually resulted</label>
        <input type="text" placeholder="What did you try?">
        <button>Next</button>
        </div>
        
        <!-- TAGS -->
        <div class="tags">
            <label>Tags</label>
            <label>Add up to five tags to describe what your problem is about</label>
            <input type="text" placeholder="Enter tags in this form e.g #javascript">
        </div>
       
        <div class="submitDiscardButtons">
            <button class="submitButton">Submit</button>
            <button class="discardButton">Discard</button>
        </div>
    </div>

</div>