<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div (click)="onHomeButtonClciked()" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <!-- LOGOUT -->
      <div class="logout">
        <p>Logout</p>
      </div>
    </div>
  </div>

  <div class="content">
    <!-- LEFT MENU BAR -->
    <div class="leftMenuBar">
      <div class="innerBar">
        <button (click)="onQuestionButtonClicked()">Questions</button>
        <button (click)="onUsersButtonClicked()">Users</button>
      </div>
    </div>

    <div class="welcomeMessage">
      <h1>WELCOME ADMIN SAMUEL NDAMBUKI</h1>
    </div>
  </div>
</div>
