<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div routerLink="/home" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <div class="logOut">
        <button
          class="logOutButton"
          routerLink="/landing"
          routerLinkActive="active"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>


  <div class="content">
    <!-- LEFT MENU BAR -->
        <div class="leftMenuBar">
          <div class="innerBar">
            <h2 class="innerBarButton" routerLink="/home" routerLinkActive="active">
              Home
            </h2>
            <h2 class="innerBarButton" routerLink="/tags" routerLinkActive="active">
              Tags
            </h2>
            <h2
              class="innerBarButton"
              routerLink="/myquestions"
              routerLinkActive="active"
            >
              My Questions
            </h2>
            <h2
              class="innerBarButton"
              routerLink="/userprofile"
              routerLinkActive="active"
            >
              My Profile
            </h2>
            <h2
              class="innerBarButton"
              routerLink="/adminseesallusers"
              routerLinkActive="active"
            >
              Users
            </h2>
            <h2
            class="innerBarButton"
            routerLink="/adminviewallquestions"
            routerLinkActive="active"
          >
            Questions
          </h2>
          </div>
        </div>

    <div class="welcomeMessage">
      <h1>WELCOME ADMIN SAMUEL NDAMBUKI</h1>
    </div>
  </div>
</div>
