/* NAVIGATION LINKS */
.navigation-menu {
  background-color: white;
  box-shadow: #d9d9d9;
  display: flex;
  margin-top: 3px;
  padding: 1rem;
  justify-content: space-between;

  /* removed style */
  /* border-radius: 10px; */

  /* added style */
  border-bottom: 1px solid #d9d9d9;
  padding-right: 3rem;
  padding-left: 3rem;
}

.stackoverflow {
  display: flex;
  align-items: center;
}

.stacklogo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
  /* modified styles */
  padding-right: 5rem;
}

.stacklogo p {
  /* modified style */
  font-size: 1.5rem;
}

.stacklogo span {
  font-weight: bold;
}

.stackoverflow img {
  /* modified styles */
  max-width: 25px;
  background-color: red;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* removed styles */
  /* border: 1px solid black; */
  /* additional styles */
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #d9d9d9;
}

.search-bar input {
  border: none;
  width: 700px;
  padding: 0.1rem;
  /* additional styles */
  font-size: 13px;
  background-color: transparent;
  outline: none;
}

.search-bar input:focus {
  outline: none;
}

.logOutButton {
  /* additional styles */

  border: 1px solid #0f94fd;
  color: black;
  background-color: white;

  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.logOutButton:hover {
  background-color: #0b7ad6;
}

.logOutButton:focus {
  outline: none;
}

/* STYLES FOR CONTENTS AT THE CENTER OF THE PAGE */

.content {
  display: flex;
  font-size: 1.1rem;
  padding: 0.2rem;
  justify-content: center;
  margin-top: 1rem;
}

.active {
  background-color: #0b7ad6;
  color: white;
}

.leftMenuBar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 1px solid black; */
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 15%;
  background-color: #d9d9d9;
  /* padding: 2rem; */
  height: 80vh;
}

.innerBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
  /* gap: 2rem; */
  margin-top: 2rem;
}

.innerBarButton {
  /* background-color: #0f94fd; */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.innerBarButton:hover {
  background-color: #0b7ad6;
}

.innerBarButton:focus {
  outline: none;
}
/* TAGS STYLING */

.tags {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.tags p {
  width: 50%;
}

/* FILTER BY TAG BAR */

.filterBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 40%;

  display: flex;
  align-items: center;
  gap: 1rem;
  /* removed styles */
  /* border: 1px solid black; */
  /* additional styles */
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #d9d9d9;
}

.filterBar input {

  border: none;
  width: 700px;
  padding: 0.1rem;
  /* additional styles */
  font-size: 13px;
  background-color: transparent;
  outline: none;
}

.filterBar input:focus {
  outline: none;
}

/* DIFFERENT TAGS */

.differentTags {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.tag1,
.tag2,
.tag3,
.tag4,
.tag5,
.tag6 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  display: flex;
  border-radius: 5px;
  background-color: #f1f1f7;
  margin-bottom: 10px;
}


/* MEDIA QUERIES */

/* Media query for 320px width */
@media (max-width: 320px) {
  .navigation-menu {
    flex-direction: column;
    align-items: center;
  }

  .stacklogo {
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 2px;
  }

  .stackoverflow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .stackoverflow img {
    width: 30%;
  }

  .search-bar {
    display: flex;
    width: 70%;
  }

  .search-bar input {
    width: 80%;
  }

  .logout {
    width: 100%;
  }

  .content{
    display: flex;
    flex-direction: column;
  }

  .leftMenuBar {
    width: 80%;
  }

  .tags p {
    width: 100%;
  }

  .filterBar {
    width: 80%;
  }

  .filterBar input {
    width: 100%;
  }

  .differentTags {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  /* NAVIGATION LINKS */
  .navigation-menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .stacklogo p {
    font-size: 1.5rem;
  }

  .stackoverflow{
    display: flex;
    flex-direction: column;
  }


  .stackoverflow img {
    width: 20%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .search-bar input {
    width: 100%;
  }

  .logout {
    padding: 0.3rem 0.8rem;
    margin-top: 1rem;
  }

  /* STYLES FOR CONTENTS AT THE CENTER OF THE PAGE */
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
  }

  .leftMenuBar {
    width: 90%;
    padding: 1rem;
    margin: 0;
  }

  .innerBar {
    gap: 1rem;
  }

  .innerBarButton {
    padding: 0.3rem 0.8rem;
  }

  /* TAGS STYLING */
  .tags {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    margin: 0;
  }

  .tags p {
    width: auto;
    margin: 0;
  }

  /* FILTER BY TAG BAR */
  .filterBar {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .filterBar input {
    width: 100%;
  }

  /* DIFFERENT TAGS */
  .differentTags {
    grid-template-columns: 1fr;
  }

  .tag1,
  .tag2,
  .tag3,
  .tag4,
  .tag5,
  .tag6 {
    width: 100%;
  }
}