<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div (click)="onHomeButtonClicked()" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <div class="logOut">
        <button
          class="logOutButton"
          routerLink="/landing"
          routerLinkActive="active"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>

  <!-- CONTENT AT THE CENTER -->
  <div class="content">
    <!-- LEFT MENU BAR -->
        <!-- LEFT MENU BAR -->
        <div class="leftMenuBar">
          <div class="innerBar">
            <h2 class="innerBarButton" routerLink="/home" routerLinkActive="active">
              Home
            </h2>
            <h2 class="innerBarButton" routerLink="/tags" routerLinkActive="active">
              Tags
            </h2>
            <h2
              class="innerBarButton"
              routerLink="/myquestions"
              routerLinkActive="active"
            >
              My Questions
            </h2>
            <h2
              class="innerBarButton"
              routerLink="/userprofile"
              routerLinkActive="active"
            >
              My Profile
            </h2>

          </div>
        </div>

    <div class="tags">
      <p>
        A tag is a keyword or label that categorizes your question with other,
        similar questions. Using the right tags makes it easier for others to
        find and answer your question.
      </p>

      <div class="filterBar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Filter by tag name..." />
      </div>

      <!-- DIFFERENT TAGS -->

      <div class="differentTags">
        <div *ngFor="let tag of tags$ | async" (click)="onSpecificTagClicked(tag.tagId)" class="tag1">
          <p>{{ tag.tagName }}</p>
        </div>
<!-- 
        <div (click)="onSpecificTagClicked()" class="tag2">
          <p>Java</p>
        </div>

        <div (click)="onSpecificTagClicked()" class="tag3">
          <p>Python</p>
        </div>

        <div (click)="onSpecificTagClicked()" class="tag4">
          <p>Html</p>
        </div>

        <div (click)="onSpecificTagClicked()" class="tag5">
          <p>CSS</p>
        </div>

        <div (click)="onSpecificTagClicked()" class="tag6">
          <p>Unanswered</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
