<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div routerLink="/home" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <div class="logOut">
        <button
          class="logOutButton"
          routerLink="/landing"
          routerLinkActive="active"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>

  <!-- CONTENT AT THE CENTER -->

  <div class="content">
    <!-- LEFT MENU BAR -->
    <div class="leftMenuBar">
      <div class="innerBar">
        <h2 class="innerBarButton" routerLink="/home" routerLinkActive="active">
          Home
        </h2>
        <h2 class="innerBarButton" routerLink="/tags" routerLinkActive="active">
          Tags
        </h2>
        <h2
          class="innerBarButton"
          routerLink="/myquestions"
          routerLinkActive="active"
        >
          My Questions
        </h2>
        <h2
          class="innerBarButton"
          routerLink="/userprofile"
          routerLinkActive="active"
        >
          My Profile
        </h2>
        <h2
          class="innerBarButton"
          routerLink="/adminseesallusers"
          routerLinkActive="active"
        >
          Users
        </h2>
        <h2
          class="innerBarButton"
          routerLink="/adminviewallquestions"
          routerLinkActive="active"
        >
          Questions
        </h2>
      </div>
    </div>
    <!-- DISPLAY ALL QUESTIONS -->

    <div class="allQuestions">
      <!-- TOP QUESTIONS -->
      <div class="topQuestions">
        <p>All Questions</p>

        <div class="askQuestion">
          <div class="pagination">
            <!-- pagination buttons based on the number of pages -->
            <button class="paginationButton1">1</button>
            <button class="paginationButton2">2</button>
            <button class="paginationButton3">3</button>
          </div>
        </div>
      </div>

      <!-- LIST OF QUESTIONS -->
      <div *ngFor="let question of questions$ | async" class="question1">
        <div class="question1Content">
          <p>Votes</p>
          <p>Answers</p>
          <p>Views</p>
        </div>

        <div class="linkToQuestion">
          <!-- display questions title -->
          <p class="linkToQuestionButton">
            QUESTION TITLE: {{ question.title }}
          </p>

          <!-- display each questions tags and username -->
          <div class="tags">
            <p>TAGS: {{ question.tags }}</p>
          </div>

          <div class="userName">
            <p>USER: {{ question.userName }}</p>
          </div>

          <div class="crudButtons">
            <button
              class="deleteButton"
              (click)="deleteQuestion(question.questionId)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
