<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div (click)="onHomeButtonCicked()" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <!-- LOGOUT -->
      <div class="logout">
        <button class="logOutButton">Logout</button>
      </div>
    </div>
  </div>

  <!-- CONTENT AT THE CENTER -->

  <div class="content">
    <!-- LEFT MENU BAR -->
    <div class="leftMenuBar">
      <div class="innerBar">
        <button class="innerBarButton" (click)="onUserButtonClicked()">Users</button>
        <button class="innerBarButton" (click)="onHomeButtonCicked()">Home</button>
      </div>
    </div>

    <!-- DISPLAY ALL QUESTIONS -->

    <div class="allQuestions">
      <!-- TOP QUESTIONS -->
      <div class="topQuestions">
        <p>All Questions</p>

        <div class="askQuestion">
    
          <div class="pagination">
            <!-- generate pagination buttons based on the number of pages -->
            <button *ngFor="let page of getTotalPages()" (click)="goToPage(page)" [class.active]="page === currentPage"  class="paginationButton1">{{page}}</button>
            <!-- <button class="paginationButton2">2</button> -->
            <!-- <button class="paginationButton3">3</button> -->
          </div>
        </div>
      </div>

      <!-- FIRST QUESTION -->

      <div *ngFor="let question of questions" class="question1">
        <div class="question1Content">
          <p>{{question.votes}} Votes</p>
          <p>{{question.answers}} Answers</p>
          <p>{{question.views}} Views</p>
        </div>

        <div class="linkToQuestion">
          <!-- display questions title -->
          <button  class="linkToQuestionButton">QUESTION TITLE: {{question.title}}</button>

          <!-- display each questions tags and username -->
          <div class="tags">
            <p>TAGS: {{question.tags}}</p>
          </div>

          <div class="userName">
            <p>USER: {{question.user}} </p>
          </div>

          <div class="crudButtons">
            <button class="deleteButton" (click)="deleteQuestion(question.id)">Delete</button> 
          </div>

        </div>
      </div>

      <!-- SECOND QUESTION -->
<!-- 
      <div class="question2">
        <div class="question2Content">
          <p>0 Votes</p>
          <p>0 Answers</p>
          <p>3 Views</p>
        </div>

        <div class="linkToQuestion">
          <button class="linkToQuestionButton">Extending custom types with functions in typescript</button>

          <div class="tags">
            <p>JavaScript</p>
            <p>reactJs</p>
          </div>

          <div class="userName">
            <p>Samuel Ndambuki</p>
          </div>

          <div class="crudButtons">

            <button class="deleteButton">Delete</button> 
          </div>

        </div>
      </div> -->

      <!-- THIRD QUESTION -->

      <!-- <div class="question3">
        <div class="question3Content">
          <p>0 Votes</p>
          <p>0 Answers</p>
          <p>3 Views</p>
        </div>

        <div class="linkToQuestion">
          <button class="linkToQuestionButton">Extending custom types with functions in typescript</button>

          <div class="tags">
            <p>JavaScript</p>
            <p>reactJs</p>
          </div>

          <div class="userName">
            <p>Samuel Ndambuki</p>
          </div>

          <div class="crudButtons">

            <button class="deleteButton">Delete</button> 
          </div>

        </div>
      </div> -->
    </div>
  </div>
</div>
