/* NAVIGATION LINKS */
.navigation-menu {
  background-color: white;
  box-shadow: #d9d9d9;
  display: flex;
  margin-top: 3px;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding-right: 3rem;
  padding-left: 3rem;
}

.stackoverflow {
  display: flex;
  align-items: center;
}

.stacklogo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 80%;
  padding-right: 5rem;
}

.stacklogo p {
  font-size: 1.5rem;
}

.stacklogo span {
  font-weight: bold;
}

.stackoverflow img {
  max-width: 25px;
  background-color: red;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #d9d9d9;
}

.search-bar input {
  border: none;
  width: 700px;
  padding: 0.1rem;
  font-size: 13px;
  background-color: transparent;
  outline: none;
}

.search-bar input:focus {
  outline: none;
}

.logOutButton {
  border: 1px solid #0f94fd;
  color: black;
  background-color: white;

  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}

.logOutButton:hover {
  background-color: #0b7ad6;
}

.logOutButton:focus {
  outline: none;
}

/* STYLES FOR CONTENTS AT THE CENTER OF THE PAGE */
.content {
  display: flex;
  font-size: 1.1rem;
  padding: 0.2rem;
  justify-content: center;
  margin-top: 1rem;
}

.active {
  background-color: #0b7ad6;
  color: white;
}

.leftMenuBar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 15%;
  background-color: #d9d9d9;
  height: 80vh;
}

.innerBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 2rem;
  margin-top: 2rem;
}

.innerBarButton {
  color: black;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.innerBarButton:hover {
  background-color: #0b7ad6;
}

.innerBarButton:focus {
  outline: none;
}

.content {
  display: flex;
}

.allQuestions {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 3rem;
  width: 50%;
  gap: 0.2rem;
}

.topQuestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  border-radius: 5px;
}

.topQuestions p {
  font-weight: 700;
}

.pagination {
  margin-top: 2.7rem;
}

.paginationButton1 {
  color: white;
  background-color: rgb(15, 148, 253);
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.paginationButton2 {
  color: black;
  background-color: white;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.paginationButton3 {
  color: black;
  background-color: white;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.paginationButton2:hover {
  background-color: #0b7ad6;
}

.paginationButton2:focus {
  outline: none;
}

.paginationButton3:hover {
  background-color: #0b7ad6;
}

.paginationButton3:focus {
  outline: none;
}

.askQuestionButton {
  color: white;
  background-color: rgb(15, 148, 253);
  padding: 0.7rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.question1 {
  padding: 2rem;
  display: flex;
  border-radius: 5px;
  background-color: #f1f1f7;
  margin-bottom: 10px;
}

.question1Content {
  display: flex;
  flex-direction: column;
}
.question1Content p {
  padding-bottom: 10px;
  font-size: small;
}

.tags {
  display: flex;
  gap: 1rem;
}

.linkToQuestion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45rem;
  margin-left: 7rem;
  gap: 1rem;
}

.linkToQuestion h2 {
  color: rgb(15, 148, 253);
  padding: 0.3rem;
  cursor: pointer;
}
.question2 {
  padding: 2rem;
  display: flex;
  border-radius: 5px;
  background-color: #f1f1f7;
  margin-bottom: 10px;
}

.question2Content {
  display: flex;
  flex-direction: column;
}

.question2Content p {
  padding-bottom: 10px;
  font-size: small;
}

.tags {
  display: flex;
}
.tags p {
  color: black;
  font-size: small;
}

.linkToQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 3px soild black;
  border-radius: 5px;
  margin-left: 7rem;
}

.question3 {
  padding: 2rem;
  display: flex;
  border-radius: 5px;
  background-color: #f1f1f7;
  margin-bottom: 10px;
}

.question3Content p {
  padding-bottom: 10px;
  font-size: small;
}

.deleteButton {
  color: white;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: red;
  margin-left: 1rem;
}

/* MEDIA QUERIES */
/* Media Query for screens with a width of 320px */
@media only screen and (max-width: 320px) {
  .navigation-menu {
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .stacklogo p {
    font-size: 1.5rem;
  }

  .stackoverflow {
    display: flex;
    flex-direction: column;
  }

  .stackoverflow img {
    width: 30%;
    max-width: 150px;
  }

  .search-bar input {
    max-width: 200px;
  }

  .logOutButton {
    padding: 0.7rem;
    font-size: 0.9rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftMenuBar {
    width: 70%;
    margin-left: 0;
  }

  .allQuestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .topQuestions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .question1 {
    gap: 1rem;
  }

  .question1Content {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .linkToQuestion {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  /* NAVIGATION LINKS */

  .navigation-menu {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .stackoverflow {
    display: flex;
    flex-direction: column;
  }

  .stackoverflow img {
    width: 30%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .search-bar input {
    width: 100%;
  }

  .logOutButton {
    padding: 0.5rem;
  }

  /* STYLES FOR CONTENTS AT THE CENTER OF THE PAGE */

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .leftMenuBar {
    width: 90%;
    padding: 1rem;
  }

  .innerBar {
    gap: 1rem;
  }

  .innerBarButton {
    padding: 0.5rem;
  }

  .allQuestions {
    margin-left: 0;
    width: 100%;
  }

  .topQuestions {
    flex-direction: column;
    align-items: center;
  }

  .askQuestion {
    margin-left: 0;
  }

  .paginationButton1,
  .paginationButton2,
  .paginationButton3 {
    padding: 0.5rem;
    margin-left: 0.5rem;
  }

  .linkToQuestion {
    margin-left: 0;
  }

  .question1,
  .question2,
  .question3 {
    gap: 1rem;
    padding: 1rem;
  }

  .question1 {
    border-radius: 5px;
  }

  .question2 {
    border-radius: 5px;
  }

  .linkToQuestion {
    border: 1px solid black;
  }

  .question3 {
    border-radius: 5px;
  }
}
