/* NAVIGATION MENU STYLES */

.navigation-menu{
    background-color: white;
    border: 1px solid black;
    display: flex;
    margin-top: 3px;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 10px;
}

.stackoverflow {
    display: flex;
    align-items: center;
}

.stacklogo {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 80%;
}

.stacklogo p{
    font-size: 2rem;
}

.stacklogo span{
    font-weight: bold;
}

.stackoverflow img{
    width: 15%;
    background-color: red;
}

.search-bar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    gap: 1rem;
}

.search-bar input{
    border: none;
    width: 700px;
    padding: .1rem;
    font-size: 1.1rem;
}

.search-bar input:focus{
    outline: none;
}


.landingPageButton{
    color: white;
  background-color: rgb(15, 148, 253);
  gap: 1rem;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0.5rem;
  margin-left: 1rem;
}

.landingPageButton:hover {
    background-color: #0b7ad6;
  }
  
  .landingPageButton:focus {
    outline: none;
  }

/* SIGN UP CONTAINER STYLES */

.signupcontainer{
    border: 2px solid grey;
    border-radius: 5px;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 33rem;
    padding: 1rem;
    gap: 2rem;
    margin-top: 2rem;
}

.name{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.email{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.password{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.name input{
    width: 200px;
    padding: .1rem;
    font-size: 1rem;
}

.email input{
    width: 200px;
    padding: .1rem;
    font-size: 1rem;
}

.password input{
    width: 200px;
    padding: .1rem;
    font-size: 1rem;
}

.passwordContent{
    color: grey;
}

.signUpButton{
    background-color: rgb(0,115,204);
    color: white;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* SIGN UP FOOTER STYLES */

.signUpFooter{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.loginButton{
    background-color: rgb(0,115,204);
    color: white;
    padding: .4rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* ERROR MESSAGES */
.error-message {
    color: red;
    margin-top: 4px;
  }
  
  .error-text {
    font-size: 14px;
  }

/* MEDIA QUERIES */

/* Media Query for screens with a width of 320px */
@media only screen and (max-width: 320px) {
    .navigation-menu{
        background-color: white;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        padding: 1rem;
        justify-content: space-between;
        border-radius: 10px;
        align-items: center;
    }
    .stacklogo p {
      font-size: 1.5rem;
    }
  
    .stackoverflow img {
      width: 30%;
      max-width: 150px;
    }
    
    .stackoverflow{
        display: flex;
        flex-direction: column;
    }
  
    .search-bar input {
      max-width: 200px;
    }

    .landingPageButton{
        color: white;
      background-color: rgb(15, 148, 253);
      gap: 1rem;
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 0.5rem;
      margin-left: 1rem;
      margin-top: .5rem;
    }
    
    .landingPageButton:hover {
        background-color: #0b7ad6;
      }
      
      .landingPageButton:focus {
        outline: none;
      }
  
    .signupcontainer {
      width: 80%;
      margin-left: 1rem;
      gap: 1rem;
    }
  }


@media (max-width: 375px) {
  /* Adjustments for width up to 375px */
  .navigation-menu {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .stackoverflow{
    display: flex;
    flex-direction: column;
  }

  .stackoverflow img {
    width: 30%;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .search-bar input {
    width: 100%;
  }

  .signupcontainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 1rem;
    gap: 1rem;
  }
}
  
  
  
  
  
  
