<div class="container">
       <!-- NAVIGATION MENU -->
       <div class="navigation-menu">
        <!-- STACK OVERFLOW IMAGE -->
        <div class="stackoverflow">
            <div class="stacklogo">
                <img src='../../assets/stackoverflowlogo.png'>
                <p>Stack<span>Overflow</span></p>
            </div>
           
        <div class="search-bar">
            <!-- SEARCH BAR ICON -->
            <fa-icon [icon]="searchicon"></fa-icon>
            <input type="text" placeholder="Search...">
        </div>
        </div>
        <!-- NAVIGATION LINKS -->
        <div class="navlinks">

        <!-- HOME -->
        <div class="home" (click)="onHomeClicked()">
            <button>Home</button>
        </div>
        </div>
    </div>
    
    <!-- SIGN UP CONTAINER -->
    <div class="signupcontainer">
        <!-- NAME INPUT -->
        <div class="name">
            <label>Name</label>
            <input type="text" placeholder="Enter your name">
        </div>
        <!-- EMAIL INPUT -->
        <div class="email">
            <label>Email</label>
            <input type="text" placeholder="Enter your email">
        </div>
        <!-- PASSWORD INPUT -->
        <div class="password">
            <label>Password</label>
            <input type="text" placeholder="Enter your password">
        </div>
        <!-- PASSWORD CONTENT -->
        <div class="passwordContent">
            <p>
                Password must contain at least eight characters,
                including at least one letter and one number
            </p>
        </div>
        <!-- SIGN UP BUTTON -->
        <div class="signUp">
            <button class="signUpButton">Sign Up</button>
        </div>
        <!-- SIGN UP CONTENT -->
        <div class="signUpContent">
            <p>
                By clicking “Sign Up”, you agree to our terms of service and acknowledge that you have read and understood our privacy policy and code of conduct.
            </p>
        </div>
    </div>

    <!-- SIGN UP FOOTER -->
    <div class="signUpFooter">
        <p>
            Already have an account? 
        </p>
        <button class="loginButton" (click)="onLoginClicked()">Login</button>
    </div>
</div>