<div class="container">
    <!-- NAVIGATION MENU -->
    <div class="navigation-menu">
        <!-- STACK OVERFLOW IMAGE -->
        <div class="stackoverflow">
            <div class="stacklogo">
                <img src='../../assets/stackoverflowlogo.png'>
                <p>Stack<span>Overflow</span></p>
            </div>
           
        <div class="search-bar">
            <!-- SEARCH BAR ICON -->
            <fa-icon [icon]="searchicon"></fa-icon>
            <input type="text" placeholder="Search...">
        </div>
        </div>

        <!-- NAVIGATION LINKS -->
       
        <div class="navlinks">

        <!-- LOGOUT -->
        <div class="logout">
            <p>Logout</p>
        </div>

        </div>
    </div>

    <!-- CONTENT AT THE CENTER -->

    <div class="content">

        <div class="leftMenuBar">
            <a routerLink="">Home</a>
            <a routerLink="">Public</a>

        <div class="innerBar">
            <a routerLink="">Questions</a>
            <a routerLink="">Users</a>
            <a routerLink="">Tags</a>
            <a routerLink="">My Questions</a>
        </div>
           
        </div>

        <!-- DISPLAY ALL QUESTIONS -->

        <div class="allQuestions">

            <!-- TOP QUESTIONS -->
            <div class="topQuestions">
                <p>Top Questions</p>

                <div class="askQuestion">

                    <button class="askQuestionButton">Ask Question</button>

                    <div class="pagination">
                        <button>Day</button>
                        <button>Week</button>
                        <button>Month</button>
                    </div>
                </div>
            </div>

            <!-- FIRST QUESTION -->
            
            <div class="question1">

                <div class="question1Content">
                    <p>0 Votes</p>
                    <p>0 Answers</p>
                    <p>3 Views</p>
                </div>
               
                <div class="linkToQuestion">

                    <button>Extending custom types with functions in typescript</button>
            
                    <div class="tags">
                        <p>JavaScript</p>
                        <p>reactJs</p>
                    </div>
    
                    <div class="userName">
                        <p>Samuel Ndambuki</p>
                    </div>

                </div>
               
            </div>

            <!-- SECOND QUESTION -->

            <div class="question2">

                <div class="question2Content">
                    <p>0 Votes</p>
                    <p>0 Answers</p>
                    <p>3 Views</p>
                </div>
               
                <div class="linkToQuestion">

                    <button>Extending custom types with functions in typescript</button>
            
                    <div class="tags">
                        <p>JavaScript</p>
                        <p>reactJs</p>
                    </div>
    
                    <div class="userName">
                        <p>Samuel Ndambuki</p>
                    </div>

                </div>
               
            </div>

            <!-- THIRD QUESTION -->

            <div class="question3">

                <div class="question3Content">
                    <p>0 Votes</p>
                    <p>0 Answers</p>
                    <p>3 Views</p>
                </div>
               
                <div class="linkToQuestion">

                    <button>Extending custom types with functions in typescript</button>
            
                    <div class="tags">
                        <p>JavaScript</p>
                        <p>reactJs</p>
                    </div>
    
                    <div class="userName">
                        <p>Samuel Ndambuki</p>
                    </div>

                </div>
               
            </div>

        </div>

    </div>

     <!-- FOOTER -->

     <div class="footer">
        <div class="footer1">
            <h1>Stack OverFlow</h1>
            <p>Questions</p>
            <p>Help</p>
        </div>

        <div class="footer2">
            <h1>Company</h1>
            <p>About</p>
            <p>Contact Us</p>
        </div>

        <div class="socialmedia">
            <h1>Facebook</h1>
            <h1>Twitter</h1>
            <h1>LinkedIn</h1>
            <h1>Instagram</h1>
        </div>

    </div>

</div>
