<div class="container">
  <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div routerLink="/home" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>

      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>

    <!-- NAVIGATION LINKS -->

    <div class="navlinks">
      <div class="logOut">
        <button
          class="logOutButton"
          routerLink="/landing"
          routerLinkActive="active"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>

  <!-- CONTENT AT THE CENTER -->

  <div class="content">
    <!-- LEFT MENU BAR -->
    <div class="leftMenuBar">
      <div class="innerBar">
        <h2 class="innerBarButton" routerLink="/home" routerLinkActive="active">
          Home
        </h2>
        <h2 class="innerBarButton" routerLink="/tags" routerLinkActive="active">
          Tags
        </h2>
        <h2
          class="innerBarButton"
          routerLink="/myquestions"
          routerLinkActive="active"
        >
          My Questions
        </h2>
        <h2
          class="innerBarButton"
          routerLink="/userprofile"
          routerLinkActive="active"
        >
          My Profile
        </h2>
      </div>
    </div>

    <!-- DISPLAY ALL QUESTIONS -->

    <div class="allQuestions">
      <!-- TOP QUESTIONS -->
      <div class="topQuestions">
        <div *ngIf="questions$ | async as questions">
          <div *ngFor="let question of questions">
            <p>Questions tagged {{ question.tags }}</p>
          </div>
        </div>

        <div class="askQuestion">
          <button (click)="onAskQuestionClicked()" class="askQuestionButton">
            Ask Question
          </button>

          <div class="pagination">
            <button class="paginationButton1">1</button>
            <button class="paginationButton2">2</button>
            <button class="paginationButton3">3</button>
          </div>
        </div>
      </div>

      <!-- Questions -->
      <div *ngIf="questions$ | async as questions">
        <div *ngFor="let question of questions" class="question1">
          <div class="question1Content">
            <p>0 Votes</p>
            <p>0 Answers</p>
            <p>3 Views</p>
            <div class="userName">
              <p>{{ question.userName }}</p>
            </div>
          </div>

          <div class="linkToQuestion">
            <h2
              [routerLink]="['/singlequestion', question.questionId]"
              routerLinkActive="active"
            >
              {{ question.title }}
            </h2>
            <div class="tags">
              <p>#{{ question.tags }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
