<div class="container">
      <!-- NAVIGATION MENU -->
  <div class="navigation-menu">
    <!-- STACK OVERFLOW IMAGE -->
    <div class="stackoverflow">
      <div (click)="onHomeButtonClicked()" class="stacklogo">
        <img src="../../assets/stackoverflowlogo.png" />
        <p>Stack<span>Overflow</span></p>
      </div>
      <div class="search-bar">
        <!-- SEARCH BAR ICON -->
        <fa-icon [icon]="searchicon"></fa-icon>
        <input type="text" placeholder="Search..." />
      </div>
    </div>
    <!-- NAVIGATION LINKS -->
    <div class="navlinks">
      <!-- LOGOUT -->
      <div class="logout">
        <p>Logout</p>
      </div>
    </div>
  </div>

  <div class="content">

    <!-- LEFT MENU BAR -->
  <div class="leftMenuBar">
    <a routerLink="">Home</a>
    <a routerLink="">Public</a>

    <div class="innerBar">
      <a routerLink="">Questions</a>
      <a routerLink="">Users</a>
      <a routerLink="">Tags</a>
      <a routerLink="">My Questions</a>
    </div>
  </div>

  <!-- PROFILE SECTION -->
  <div class="profileSection">
    <div class="profileinfo">
        <div class="moreinfo">
          <img src="">
            <p>samndambuki</p>
            <p>Software Engineer</p>
            <p>Member for 1 year, 3months</p>
            <p>Last seen,this week</p>
            <p>Nyeri,Kenya</p>
        </div>
    </div>  
    <p>Edit your profile</p>
    <p>Public Information</p>

    <div class="editProfile">
        <p>Profile image</p>
        <img src="">
        <p>Change Picture</p>
        <label>Display Name</label>
        <input type="text" placeholder="Display Name....">
        <label>Location</label>
        <input type="text" placeholder="Laction...">
        <label>Title</label>
        <input type="text" placeholder="Title...">
        <label>About me</label>
        <input type="text" placeholder="About me...">

        <button class="saveProfileButton">Save Profile</button>
        <button class="cancelButton">Cancel</button>
    </div>

  </div>
  
  </div>
  
</div>